.verde{
    color: green;
}
.vermelho{
    color: red;
}


body{
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.349);
    grid-gap: 5px;
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "pri pri pri"
        "foo foo foo";
    
}

header{
    position: relative;
    font-size: 2rem;
    height: 10rem;
    grid-area: cab;
    background-color: rgb(165, 165, 165);
}

.aur{
    left: 2rem;
    position: absolute;
    top: 2rem;
}


    


main{
    
    background-color: rgb(255, 255, 255);
    grid-area: pri;
    
}

footer{
    text-align: center;
    padding: 4rem;
    height: 6rem;
    background-color: rgb(165, 165, 165);
    grid-area: foo;
}


.botaoatv{
    
    background-color: rgb(172, 146, 146);
    border-color: bisque;
    width: 20rem;
    height: 4rem;
}

.botaoatv :hover{
    
    
    width: 18rem;
    height: 3rem;
}


.btnhome{
    
    position: absolute;
    left: 90rem;
    top:4rem;
   
}

.btnatv{
    
    position: absolute;
    left: 95rem;
    top:4rem;
   
}

.btncal{
    
    position: absolute;
    left: 102rem;
    top:4rem;
   
}

.tudo{
    text-align: center;
}
