.verde{
    color: green;
}
.vermelho{
    color: red;
}


body{
    
    border-radius: 2px;
    padding: 3rem;
    background-color: rgba(177, 177, 177, 0.349);
    grid-gap: 5px;
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "pri pri pri"
        "foo foo foo";
    
}

header{
    border-radius: 10px;
    position: relative;
    font-size: 2rem;
    height: 10rem;
    grid-area: cab;
    background-color: rgb(165, 165, 165);
}

.aur{
    left: 2rem;
    position: absolute;
    top: 2rem;
}


.btnini{
    
    padding: 2px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.btnini :hover{
    
    
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


main{
    border-radius: 10px;
    background-color: rgb(124, 124, 124);
    grid-area: pri;
    
}

.mainini{
    height: 70rem;
    border-radius: 10px;
    background-color: rgb(124, 124, 124);
    grid-area: pri;
    
}

.txtini{
    font-size: 2rem;
    padding-top: 10rem;
    text-align: center;

}

footer{
    border-radius: 10px;
    text-align: center;
    padding: 4rem;
    height: 2rem;
    background-color: rgb(165, 165, 165);
    grid-area: foo;
}


.botaoatv{
    
    
    background-color: rgb(172, 146, 146);
    border-color: bisque;
    width: 20rem;
    height: 4rem;
}

.botaoatv :hover{
    
    
    width: 18rem;
    height: 3rem;
}


.btnhome{
    
    position: absolute;
    left: 90rem;
    top:4rem;
   
}

.btnhome2{
    
    position: absolute;
    left: 86rem;
    top:4rem;
   
}

.btnatv{
    
    position: absolute;
    left: 95rem;
    top:4rem;
   
}

.btncal{
    
    position: absolute;
    left: 102rem;
    top:4rem;
   
}

.tudo{
    text-align: center;
}


